<?xml version="1.0" encoding="utf-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:task="http://www.springframework.org/schema/task" 
    xsi:schemaLocation="  
	             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd   
          	    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd    
         	     http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd  
         	     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd    
         	     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd 
         	     http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd    
              	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd"
            	default-lazy-init="true"
             > 
<!--      default-lazy-init="true" -->

	<!-- spring容器bean工具类     -->
	<!-- 因为全局设置为 default-lazy-init="true"   所以容器中手动注册的bean需要取消lazy 即添加：lazy-init="false" -->
	<bean id="SpringContextHolder" class="com.yueqingRMS.platform.util.SpringContextHolder" lazy-init="false" />  
  	<!--全局异常捕捉 -->
	<bean class="com.yueqingRMS.platform.exception.GlobalExceptionResolver.GlobalExceptionResolver"  lazy-init="false" />

	<!-- 以session方式实现国际化 start -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<!--刷新资源文件的周期，以秒为单位 -->
		<property name="cacheSeconds" value="${message.cache_seconds}" />
		<property name="useCodeAsDefaultMessage" value="true" />
		<property name="basenames">
			<list>
				<value>${message.common_path}</value>
				<value>${message.business_path}</value>
			</list>
		</property>
	</bean>
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="${locale}" />
	</bean>
	<!-- 以session方式实现国际化 end-->
    
</beans> 